

// Colors
$primary-color: #CECED1;
$blue-color: #2C3441;
$border-color: #999999;
$white-color: #FFFFFF;

// Fonts
$font-family: 'Montserrat', sans-serif; 
 
// Sizes
$logo-height: 40px;

// Media Queries
$breakpoint-sm: 768px;
 
//padding
$section-padding-lg: 5rem; 
$section-padding-sm:1rem